@font-face {
    font-family: 'Bebas';
    src: url('fonts/bebas/BebasNeueRegular.otf');
    src: url('fonts/bebas/TTFs/BebasNeueRegular.ttf') ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Julian';
    src: url("fonts/Julian Script Typeface/Julian Script Typeface/Jullian-Regular.otf");
    src: url("fonts/Julian Script Typeface/Julian Script Typeface/Jullian-Regular.ttf");
    src: url("fonts/Julian Script Typeface/Julian Script Typeface/Jullian-Regular.woff");
    src: url("fonts/Julian Script Typeface/Julian Script Typeface/Jullian-Regular.woff2");
}

* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body {
    margin: 0;
    background: #f8f4f4;
}

.container {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

/*----HEADER
=============----*/
header {
    background-image: url("../images/BACKGROUND.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    width: 100%;
    height: 1260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}


.nav-scroll {
    /*position: fixed;*/
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;

}

nav ul li {
    margin-right: 70px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Bebas', sans-serif;
    font-size: 30px;
    color: #fff;
}

.nav-scroll ul li a {
    color: #151515;
}

nav ul li a:hover {
    color: #1ab3b4;
}

.information {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 25px 20px 0 10px;
    line-height: 25px;
}

.information span {
    font-family: 'Bebas', sans-serif;
    font-size: 19px;
    color: #fff;
    margin-right: 80px;
    letter-spacing: 1px;
}

.fa-instagram {
    margin-right: 5px;
    transition: .2s ease-in-out;
}

.fa-instagram:hover {
    color: darkolivegreen;
    cursor: pointer;
}

/*----NEW-ARRIVALS
==================----*/
.headline {
    font-family: 'Julian', sans-serif;
    font-size: 135px;
    color: #f05e92;
    position: absolute;
    left: 50%;
    z-index: 4;
}

.new-arrivals {
    width: 100%;
    /*perspective: 1000px;*/
}

.first-new-arrivals-container, .second-new-arrivals-container, .third-new-arrivals-container {
    /*overflow: hidden;*/
    border-radius: 2px;


}

.first-new-arrivals-container, .second-new-arrivals-container {
    width: 350px;
    height: 600px;
    position: absolute;
    text-align: center;
}

.first-new-arrivals-container {
    left: 0;
    top: 750px;
}

.second-new-arrivals-container {
    width: 345px;
    height: 595px;
    top: 550px;
    left: calc(50% - 150px);
}

.third-new-arrivals-container {
    width: 255px;
    height: 440px;
    position: absolute;
    top: 800px;
    right: 10%;
    z-index: -1;

}

.arrivals-container{
    max-width: 100%;
    box-shadow: 20px 20px 100px #6a6c6d;
}

.first-brand-name {
    background-image: url("../images/brush.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 150%;
    height: 330px;
    position: absolute;
    bottom: -105px;
    left: -10px;
    z-index: 2;
}

.second-brand-name {
    background-image: url("../images/brush-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 120%;
    height: 530px;
    position: absolute;
    bottom: -215px;
    left: -40px;
}

.third-brand-name {
    background-image: url("../images/brush-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 150%;
    height: 330px;
    position: absolute;
    bottom: -180px;
    left: -20px;
}

.first-brand-name div, .second-brand-name div {
    font-family: Julian, sans-serif;
    font-size: 110px;
    color: #fff;
    transform: rotate(-20deg);
    z-index: 3;

}
.second-brand-name div {
    transform: rotate(20deg);
    position: absolute;
    top: 20px;
}
.third-brand-name div {
    font-family: Julian, sans-serif;
    font-size: 100px;
    color: #fff;
    transform: rotate(-20deg);
    z-index: 3;
}

/*-------BIKINI
==================----*/

.bikini {
    background-image: url("../images/background-bikini.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 1455px;
}

.headline-bikini {
    left: calc(50% - 180px);
}

.slider-bikini {
    position: absolute;
    top: calc(50% - 525px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 1050px;
    overflow: hidden;
}

.slider-items {
    width: 260px;
    height: 460px;
    perspective: 200px;
    perspective-origin: bottom;
    position: relative;
}

.slider-items img {
    max-width: 100%;
}

.bikini-information {
    height: 50px;
    background: gray;
    opacity: .7;
    font-family: 'Bebas', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    transition: .3s transform ease-in-out;
    transform-origin: top;
    transform: rotateX(-89.5deg);
    z-index: 5;
}

.slider-items:hover .bikini-information {
    transform: rotateX(0deg);
}

.slider-items:hover {
    transition: .3s ease-in-out;
    transform: scale(1.02, 1.02);
}

.slider-items::before, .slider-items::after {
    content: '';
    width: 60px;
    height: 40px;
    opacity: 0;
    position: absolute;
    transition: .3s ease-in-out;
}

.slider-items::before {
    right: 0;
    top: 0;
    border-right: 3px solid red;
    border-top: 3px solid red;
    -webkit-transform: translate(-100%, 50%);
    -moz-transform: translate(-100%, 50%);
    -ms-transform: translate(-100%, 50%);
    -o-transform: translate(-100%, 50%);
    transform: translate(-100%, 50%);
}
.slider-items::after {
    left: 0;
    bottom: 0;
    border-left: 3px solid red;
    border-bottom: 3px solid red;
    -webkit-transform: translate(100%, -50%);
    -moz-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    -o-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
}

.slider-items:hover::before, .slider-items:hover::after {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}
/*------LINGERIE
==================----*/

.lingerie {
    background-image: url("../images/background-lingerie.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 1455px;
}

.headline-lingerie {
    left: calc(50% - 235px);
}

.slider-lingerie {
    position: absolute;
    top: calc(50% - 525px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 1050px;
}

/*------ACCESSORIES
======================----*/

.accessories {
    background-image: url("../images/background-accesorises.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 1120px;
}

.headline-accessories {
    top: -150px;
    left: calc(50% - 322px);
}

.slider-accessories {
    position: absolute;
    top: calc(50% - 525px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 1050px;
}

/*------SALES
==================----*/

.sales {
    width: 100%;

}

.sales-slider ul li{
    display: inline-block;
    text-decoration: none;
}

.sales-slider {
    margin: 90px;
}

.sales-slider ul {
    display: flex;

}

.sale-1, .sale-2, .sale-3 {
    margin: 0 auto;
    width: 100%;
}

.headline-sales {
    top: -150px;
    left: calc(50% - 158px);
}

/*------ABOUT
==================----*/

.about {
    width: 100%;
    height: 100vh;
}

.headline-about {
    left: calc(50% - 167px);
}

.content {
    display: flex;
    position: absolute;
    top: 250px;
    left: 50px;

}

#map{
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    box-shadow: 14px 14px 50px 10px #aeaeae
}

.info-about {
    margin-left: 40px;
    font-family: 'Bebas', sans-serif;
    font-size: 20px;
    display: block;
    text-align: justify;
    width: 300px;
}

footer {
    height: 180px;
    background: #f05e92;
}

.footer-nav {
    display: flex;
    justify-content: center;

}

@media screen and (min-width: 1400px){
    body, html {
        height: 100%;
    }
     .new-arrivals, .bikini, .lingerie, .accessories, .about, .sales {
        background-size: cover;
        background-position: center top;
    }
}

@media screen and  (max-width: 1330px){
    nav ul li a {
        font-size: 25px;
    }

    nav ul li {
        margin-right: 60px;
    }

    .information span {
        font-size: 15px;
    }

    .logo img{
        max-width: 700px;
    }
}

@media screen and  (max-width: 1125px) {
    nav ul li {
        margin-right: 50px;
    }

    .logo img {
        max-width: 600px;
    }
}

@media screen and  (max-width: 1045px) {
    nav ul li a {
        font-size: 18px;
    }

    .logo img{
        max-width: 500px;
    }
}